{% extends "base.html" %}
{% block content %}

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <ol>
          <li><a href="index.html">Home</a></li>
          <li>Blog</li>
        </ol>
        <h2>Blog</h2>

      </div>
    </section><!-- End Breadcrumbs -->

    <section class="inner-page recent-posts">
      <div class="container" data-aos="fade-up">
        <div class="section-title">
            <h2>Recent Blog Posts</h2>
            <p>Consequatur libero assumenda est voluptatem est quidem illum et officia imilique qui vel architecto accusamus fugit aut qui distinctio</p>
          </div>
  
          <div class="row gy-4">
  
            <div class="col-xl-4 col-md-6">
              <article>
  
                <div class="post-img">
                  <img src="assets/img/blog/blog-1.jpg" alt="" class="img-fluid">
                </div>
  
                <p class="post-category">Politics</p>
  
                <h2 class="title">
                  <a href="blog-details.html">Dolorum optio tempore voluptas dignissimos</a>
                </h2>
  
                <div class="d-flex align-items-center">
                  <img src="assets/img/blog/blog-author.jpg" alt="" class="img-fluid post-author-img flex-shrink-0">
                  <div class="post-meta">
                    <p class="post-author">Maria Doe</p>
                    <p class="post-date">
                      <time datetime="2022-01-01">Jan 1, 2022</time>
                    </p>
                  </div>
                </div>
  
              </article>
            </div><!-- End post list item -->

        </div><!-- End recent posts list -->

      </div>
    </section>

  </main><!-- End #main -->

  {% endblock content %}


  