<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to VoteGuard</h1>


    <p>Hi, I'm Mbana, creator of VoteGuard, I'm a developer who cares about the civil rights of people all over the world</p>
    <p>As it stands, you and I both know that people from all over the world have in one way or another been denied of thier basic right to vote.</p>
    <p>This, and also the fact that people's vote no longe counts as they are being manipulated by shady individuals from postions of power who constantly put people under oppression</p>
    <p>To counter this, I made a VoteGuard, a platform that aids users to vote electronically.</p>
    <p>But wait, that's not just it, users can only not vote electronically but also vote securely thanks to the state of the art security systems that I have put in place to ensure this</p>
    <p>Measures such as cryptography, layering, request masking, server stealth and also UUID Identification have been taken to ensure that voters can vote and make thier votes count as well.</p>
    <p>You guys should try out VoteGuard and tell me if there's something you'd like me to improve.</p>
    <p>With that, I bid you good day.</p>
    
    <p><b>Best Regards,</b></p>
    <p><i>Mbana</i></p>
</body>
</html>