  {% extends "base.html" %}
  {% laod static %}

  {% block content %}
  


  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
      <div class="container p-3">

        <ol>
          <li><a href="index.html">Home</a></li>
          <li>Register</li>
        </ol>
        <h2>Sign Up</h2>

      </div>
    </section><!-- End Breadcrumbs -->

    <section class="inner-page ftco-section">
		<div class="container">
			<div class="row justify-content-center w-100">
				<div class="col-md-12 col-lg-10">
					<div class="wrap d-md-flex">
						<div class="text-wrap p-4 p-lg-5 text-center d-flex align-items-center order-md-last">
							<div class="text w-100">
								<h2>Welcome to Juripoint</h2>
								<p>Already have an account?</p>
                {% if messages %}
                <p style="alert">{{message}}</p>
                {% else %}
                {% endif %}
								<a href="#" class="btn btn-white btn-outline-white">Sign In</a>
							</div>
			            </div>
					<div class="login-wrap p-4 p-lg-5">
			      	    <div class="d-flex">
			      		    <div class="w-100">
			      			    <h3 class="mb-4">Sign Up</h3>
			      		    </div>
                            <div class="w-100">
                                <p class="social-media d-flex justify-content-end">
                                    <a href="#" class="social-icon d-flex align-items-center justify-content-center"><span class="fa fa-facebook"></span></a>
                                    <a href="#" class="social-icon d-flex align-items-center justify-content-center"><span class="fa fa-twitter"></span></a>
                                </p>
                            </div>
			      	    </div>
                        <form action="#" class="signin-form">
                            <div class="form-group mb-3 mt-4">
                              <label class="label" for="name">First Name</label>
                              <input type="text" class="form-control" placeholder="John" required name="first_name">
                            </div>

                            <div class="form-group mb-3 mt-4">
                              <label class="label" for="password">Last Name</label>
                              <input type="password" class="form-control" placeholder="Doe" required name="last_names">
                            </div>

                            <div class="form-group mb-3 mt-4">
                              <label class="label" for="password">Email Address</label>
                              <input type="password" class="form-control" placeholder="mario@mail.com" required name="email">
                            </div>

                            <div class="form-group mb-3 mt-4">
                              <label class="label" for="password">Username</label>
                              <input type="password" class="form-control" placeholder="JohnDoe123" required name="username">
                            </div>

                            <div class="form-group mb-3 mt-4">
                              <label class="label" for="password">Password</label>
                              <input type="password" class="form-control" placeholder="Password" required name="password">
                            </div>

                            <div class="form-group mb-3 mt-4">
                              <label class="label" for="password">Confirm Password</label>
                              <input type="password" class="form-control" placeholder="Password" required name="password2">
                            </div>

                            <div class="form-group mb-5 mt-5">
                                <button type="submit" class="form-control btn btn-primary submit px-3">Sign Up</button>
                            </div>

                            <div class="form-group d-md-flex">
                                <div class="w-50 text-left">
                                    <label class="checkbox-wrap checkbox-primary mb-0">Remember Me
                                        <input type="checkbox" checked>
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                                <div class="w-50 text-md-right">
                                    <a href="#">Forgot Password</a>
                                </div>
                            </div>
		                </form>
		            </div>
		        </div>
			</div>
			</div>
		</div>
	</section>


  </main><!-- End #main -->

  {% endblock content %}

